body{
height:100vh;
  width:100vw;
    text-align: center;
  background-image: linear-gradient(44deg,#5d5cbe,#6cf7d7);
  background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Loved by the King', cursive;
    letter-spacing: 3.5px;
    overflow: hidden;
}
h1{
    font-size: 50px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    font-size:30px;
    transition: visibility 1s ease;
    color: #4f4ebe;
    font-weight:bold;
    animation: up-down 2s infinite;
    animation-timing-function: ease-in;
}
@keyframes up-down{
    from{
        color: #6c6cb7;
    }
    50%{
        color:#4f4ebe;
    }
    100%{
        color: #262491;
    }
}

@media screen and (min-width: 320px){
    h1{
        font-size:24px;
    }
    a{
        font-size: 15px;
    }
}
@media screen and (min-width: 411px){
    h1{
        font-size:30px;
    }
    a{
        font-size: 18px;
    }
}
@media screen and (min-width: 768px){
    h1{
        font-size:60px;
    }
    a{
        font-size: 35px;
    }
}
@media screen and (min-width: 1024px){
    h1{
        font-size:70px;
    }
    a{
        font-size: 45px;
    }
}
