body{
    background-color: grey;
}

.cool{
/*    display: none;*/
/*    display is not a transition so we cannot set a transition effect on it, instead of that we use visibility to achieve the same effect*/
    visibility: hidden;
    width: 100px;
    height: 100px;
    background-color: green;
    transition: background-color 1s ease, visibility 1s ease;
}

.cool.red{
/*    display: block;*/
    visibility: visible;
    background-color: red;
}